{% extends 'base.html' %}

{% block content%}
<section class="section-secondary">
    <h2 align="center">Купи какую то дичь за <strong>большие</strong> деньги</h2>
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h3 class="card-title">Блядский цирк!</h3>
                Впервые!
                Только два дня в году!
                Откуда они? Х*й его знает...
                БЛЯДСКИЙ ЦИРК
                Фокусы -просто пизц*ц
                Клоуны - дегенераты!
                У*бищные представления!
                Вы пожалеете о патраченном времени и средствах!
                <ul class="card-actions">
                    <li>
                        <button class="button-primary">Купить себе</button>
                    </li>
                    <li>
                        <button class="button-primary">Купить врагу</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col col-md-6">
            <div class="card">
                <h3 class="card-title">Цирк у тебя дома!</h3>
                Ты ещё не купил билет на наше представление?
                Как тебе хватает наглости???
                У тебя стальные яйца? Надоела теща? Пилит жена? Наш цирк! Вперед!
                <ul class="card-actions">
                    <li>
                        <button class="button-primary">Рискнуть</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}
